[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
greenlet = "==2.0.2"
sqlalchemy = "==2.0.12"
typing-extensions = "==4.5.0"

[dev-packages]

[requires]
python_version = "3.11"
